<!DOCTYPE html>
<!--[if lt IE7]> <html class="no-js" lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">

    <title><%= title %></title>
    <meta name="description" content="">

     <link rel="stylesheet" type="text/css" href="css/normalize.min.css">
     <link rel="stylesheet" type="text/css" href="css/main.css">
     <link rel="stylesheet" type="text/css" href="js/fancybox/jquery.fancybox.css?v=2.1.4" media="screen">
     <div class="fit-vids-style">
       ­<style>
          .fluid-width-video-wrapper {
            width: 100%;
            position: relative;
            padding: 0;
            }
          .fluid-width-video-wrapper iframe,
          .fluid-width-video-wrapper object,
          .fluid-width-video-wrapper embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            }
          </style>
      </div>
    <script src="//www.google-analytics.com/ga.js"></script>
    <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

  </head>
  <body>


    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->


		<!-- Start Main Navigation -->
        <div class="header-container" id="masthead" style="position: relative; z-index: 0; background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;">
            <header class="wrapper clearfix">
            	<a href="index.html" class="logo"><img src="img/logo@2x.png" alt="Logo"></a>
                <nav>
           			<ul class="nav l_tinynav1" id="nav">
                    	<li><a class="active" href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="styles.html">Styles</a></li>
                        <li><a href="gallery.html">Gallery</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li class="last"><a href="contact.html">Contact</a></li>
                    </ul><select id="tinynav1" class="tinynav tinynav1"><option>Navigation</option><option value="index.html">Home</option><option value="about.html">About</option><option value="styles.html">Styles</option><option value="gallery.html">Gallery</option><option value="blog.html">Blog</option><option value="contact.html">Contact</option></select>
                </nav>
            </header>


            <!-- Start Masthead -->
            <div class="wrapper clearfix">
            	<div class="cta two-third">
            		<h1>You Idiots!</h1>
            		<h3>These are not them! You’ve captured their stunt doubles!</h3>
            		<h5>— Spaceballs</h5>
            		<br>
            		<p>No more boring V-Cards, Selfy is the perfect theme for self promotion. A little piece of the internet all about you, customise and self express with Selfy...  <a href="styles.html">Read&nbsp;More</a></p>
            	</div>
            </div>
        <div class="backstretch" style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 1050px; width: 1905px; z-index: -999998; position: absolute;"><img style="position: absolute; margin: 0px; padding: 0px; border: medium none; width: 1934.89px; height: 1050px; max-width: none; z-index: -999999; left: -14.9447px; top: 0px;" src="img/masthead@2x.jpg"></div></div>




		 <!-- Start Main Body -->
        <div class="main-container">
            <div class="main wrapper clearfix">


            	<!-- Start Main Content -->
                <div class="main-content full">
                	<div class="clearfix">

                		<!-- Columns Thirds -->
                        <div class="clearfix">
                        <div class="third">
                        	<h2>About me</h2>
                        	<p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.Donec id elit non mi porta gravida at eget metus. Donec ullamcorper nulla non metus auctor fringilla. Donec id elit non mi porta gravida at eget&nbsp;metus.</p>
                        	<p>Vivamus sagittis lacus vel augue laoreetrum faucibus dolor auctor. Aenean eu leonish quam ugue laoreet rutrum faucibus&nbsp;dolor.</p>
                        </div>

                        <div class="third">
                        	<h2>What I do</h2>
                        	<p>Donec id elit non mi porta gravida at eget metus. Donec ullamcorper nulla non metus auctor fringilla hucibus&nbsp;idol.</p>
                        	<p>Donec id elit non mi porta gravida at eget metus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean eu leo quam. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor&nbsp;auctor.</p>
                        </div>

                        <div class="third last">
                        	<h2>Get in touch</h2>
                        	<p>Donec id elit non mi porta gravida at eget metus non mi porta gravida . Donec ullamcorper nulla non metus auctor fringilla. Donec id elit non mi porta gravida at eget metus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean eu leo&nbsp;quam.</p>
                        	<p><a href="contact.html" class="more">Say Hi, Email&nbsp;me</a></p>
                        </div>
                        </div>


					<!-- Finish Main Content -->
                	</div>
                </div>




        	</div> <!-- #main -->
        </div> <!-- #main-container -->


		<!-- Start Footer -->
		<footer>
			<div class="main wrapper clearfix">
				<div class="foot right">
					<a href="#" class="social-link"><img src="img/icon-facebook@2x.png" alt="Facebook"></a>
					<a href="#" class="social-link"><img src="img/icon-twitter@2x.png" alt="Facebook"></a>
					<a href="#" class="social-link"><img src="img/icon-linkedin@2x.png" alt="Facebook"></a>
				</div>

				<div class="foot left">
					<a href="index.html" class="logo-foot"><img src="img/logo-foot@2x.png" alt="logo"></a>
					© Copyright Selfy 2013
				</div>
			</div>
		</footer>



		<!-- Start Scripts -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.3.min.js"><\/script>')</script>
		<script type="text/javascript" src="js/tinynav.min.js"></script>
		<script type="text/javascript" src="js/fitvids.min.js"></script>
		<script type="text/javascript" src="js/jquery.widowFix-1.3.2.min.js"></script>
		<script type="text/javascript" src="js/fancybox/jquery.fancybox.js?v=2.1.4"></script>
		<script type="text/javascript" src="js/backstretch.js"></script>
		<script type="text/javascript" src="js/main.js"></script>



		<!-- Start Google Analytics -->
		<script>
		    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
		    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
		    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
		    s.parentNode.insertBefore(g,s)}(document,'script'));

		</script>






  </body>
</html>
